body {
  background-color: #dcdcdc;
}
#searchBtn {
  font-weight: 500;
}
.phoneCards {
  border-radius: 10px;
  padding-top: 8px;
}

#error {
  margin-top: 70px;
  color: gray;
}
.moreBtn {
  background-color: blueviolet;
  border-radius: 5px;
  font-weight: 500;
  color: aliceblue;
}

.phoneDetailRow {
  background-color: #ffffff;
  padding: 10px;
}

.detailsImgContainer {
  background-color: #d3c9c9;
  padding: 10px;
}
.PhoneDetailcommonColor {
  background-color: #d3c9c9;
}
