body {
  background-color: #dcdcdc;
}
#searchBtn {
  font-weight: 500;
}
.phoneCards {
  border-radius: 10px;
  padding-top: 8px;
}

#error {
  margin-top: 70px;
  color: gray;
}
.moreBtn {
  background-color: blueviolet;
  border-radius: 5px;
  font-weight: 500;
  color: aliceblue;
}

.phoneDetailRow {
  background-color: #ffffff;
  padding: 10px;
}

.PhoneDetailcommonColor {
  background-color: #d6d1d1;
}

.roundedCorner {
  border-radius: 8px;
}

/* Border Bottom and Top Radius for Detail inner */
.borderRadiusTop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.borderRadiusBottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
